.navbar{
    background-color: #c4c0c0;
}
.navbar-brand{
    color: #000000;
    font-weight: bold;
    font-size: 1.9rem;
}
.navbar ul li a{
    color: #000000;
}
.navbar ul li a:hover{
    color: #F05454;
}

/* ADMIN DASHBOARD STYLES -- START -- */
.manage-row{
    margin-top: 2em;
    margin-bottom: 2em;
}

.manage-row a{
    text-decoration: none;
}

.profile-img > img{
    border-radius: 50px;
    border: 3px solid skyblue;
}
/* ADMIN DASHBOARD STYLES -- end -- */

